<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ascending Audiology</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="logo.png" alt="logo" />
        <div>
          <div>Shop No. 14, Ground Floor,</div>
          <div>‘X’ Point, S. V. Road,</div>
          <div>Kandivali (W), Mumbai – 400067</div>
          <div>Ph. No.: +91- 9820781205/ 9619576040</div>
          <div>Website: www.ascendingaudiology.com</div>
          <div>Email: ascending.audiology@gmail.com</div>
        </div>
      </div>
      <!-- header -->
      <hr class="header-hr" />
      <div class="personal-details">
        <div class="row-1">
          <div>Name:</div>
          <div class="values">^name^</div>
          <div>Age/Gender:</div>
          <div class="values">^age^ - ^gender^</div>
          <div>Date:</div>
          <div class="values">^date^</div>
          <div>Case No:</div>
          <div class="values">^case^</div>
        </div>
        <div class="row-2">
          <div>Chief Complaints:</div>
          <div class="values">^complaints^</div>
        </div>
        <div class="graph">
          <div class="title">Pure Tone Audiometry</div>
          <div class="main-graphs">
            <div class="right-ear"></div>
            <div class="x-title"></div>
            <div class="left-ear"></div>
          </div>
        </div>
        <div class="row-3">
          <div>Comments:</div>
          <div class="values">^comments^</div>
        </div>
        <div class="row-4">
          <div class="table-1">
            <div>Otoscopy</div>
            <table>
              <tr style="height: min-content">
                <td>Right<br />&nbsp;</td>
                <td>Left<br />&nbsp;</td>
              </tr>
              <tr>
                <td rowspan="2">^r-oto^</td>
                <td rowspan="2">^l-oto^</td>
              </tr>
            </table>
          </div>
          <div class="table-2">
            <div>Tuning Fork Tests</div>
            <table>
              <tr>
                <td></td>
                <td>Right<br />&nbsp;</td>
                <td>Left<br />&nbsp;</td>
              </tr>
              <tr>
                <td>Rinne</td>
                <td>^r-rennie^</td>
                <td>^l-rennie^</td>
              </tr>
              <tr>
                <td>Weber</td>
                <td>^r-weber^</td>
                <td>^l-weber^</td>
              </tr>
            </table>
          </div>
          <div class="table-3">
            <div>Speech Audiometry</div>
            <table>
              <tr>
                <td></td>
                <td>SAT<br />(dB HL)</td>
                <td>SRT<br />(dB HL)</td>
                <td>WRS<br />(%) @</td>
                <td>ULC<br />(dB HL)</td>
              </tr>
              <tr>
                <td>Right</td>
                <td>^r-sat^</td>
                <td>^r-srt^</td>
                <td>^r-wrs^</td>
                <td>^r-ulc^</td>
              </tr>
              <tr>
                <td>Left</td>
                <td>^l-sat^</td>
                <td>^l-srt^</td>
                <td>vl-wrs^</td>
                <td>^l-ulc^</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row-5">
          <div>Right Ear:</div>
          <div class="values">^right-ear^</div>
        </div>
        <div class="row-6">
          <div>Left Ear:</div>
          <div class="values">^left-ear^</div>
        </div>
        <div class="row-7">
          <div>Recommendations:</div>
          <div class="values">^reccomendations^</div>
        </div>
      </div>
    </div>
  </body>
</html>
